<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <h2>Livros</h2>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titúlo</th>
                            <th>Autor</th>
                            <th>Permissão</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(book=> { %>
                            <tr>
                                <th>
                                    <%= book.id %>
                                </th>
                                <th>
                                    <%= book.title %>
                                </th>
                                <th>
                                    <%= book.author %>
                                </th>
                                <th>
                                    <%= book.permission %>
                                </th>
                                <th>
                                    <a href="/books/edit/<%= book.id %>" class="btn btn-warning">Editar</a>
                                    <form method="POST" action="/books/delete" style="display: inline;"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= book.id %>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>

                                </th>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
    </body>


    <%- include('../../partials/footer.ejs') %>

        <script>
            function confirmDelete(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deleter este livro?");
                if (decision) {
                    form.submit();
                } else {
                    console.log("Ops, foi um erro!")
                }
            }
        </script>