<%- include('../../partials/header.ejs') %>


    <body style="min-width:372px;">
        <%- include('../../partials/navbar.ejs') %>

            <main>

                <div class="container">
                    <hr>
                    <h2>Minhas reservas</h2>
                    <a class="btn btn-primary" href="/reserves/new">Nova reserva</a>
                    <hr class="mt=3">
                    <div class="row">
                        <% reserves.forEach(function(reserve) { %>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch"
                                style="padding-bottom: 15px;">
                                <div class="card text-center bg-light">
                                    <img src="https://viverdeblog.com/wp-content/uploads/2017/04/como-escrever-um-livro-topo.png"
                                        alt="" class="card-img-top">
                                    <div class="card-header">
                                        <h6 class="card-title">
                                            <%=reserve.book.title%>
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <i>
                                            <%=reserve.book.author%>
                                        </i>
                                        <br>
                                    </div>
                                    <a href="/dowload">
                                        <button class="btn btn-primary btn-lg" type="button">Baixar</button>
                                    </a>
                                    <br>
                                    <a href="/reserves/edit/<%= reserve.id %>">
                                        <button class="btn btn-warning btn-lg" type="button">Editar</button>
                                    </a>
                                    <br>
                                    <form action="/reserves/delete" method="POST" onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= reserve.id %>">
                                        <button class="btn btn-danger btn-lg" type="submit">Excluir</button>
                                    </form>
                                    <br>
                                </div>
                            </div>
                            <% }) %>
                    </div>

                </div>
                </div>

            </main>


    </body>

    <%- include('../../partials/footer.ejs') %>

        <script>
            function confirmDelete(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deleter esta reserva?");
                if (decision) {
                    form.submit();
                } else {
                    console.log("Ops, foi um erro!")
                }
            }
        </script>