<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs', {nameUser: name }); %>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <font face="Courier">
                            <h4>Edição de reserva</h4>
                        </font>
                    </div>
                    <div class="card-body">
                        <form action="/books/edit" method="POST">

                            <input type="hidden" name="id" value="<%=reserve.id %>">

                            <input class="form-control" type="number" name="userId" placeholder="Insira o ID do usuário"
                                value="<%=reserve.userId%>">
                            <br>
                            <input class="form-control" type="number" name="bookId" placeholder="Insira o ID do livro"
                                value="<%=reserve.bookId%>">
                            <br>
                            <button class="btn btn-primary" type="submit">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>

    </body>
    <%- include('../../partials/footer.ejs') %>