<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs', {nameUser: name }); %>
            <div class="container">
                <hr>
                <h2>Usúarios</h2>
                <a class="btn btn-primary" href="/users/new">Novo usúario</a>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Permissão</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <th>
                                    <%= user.id %>
                                </th>
                                <th>
                                    <%= user.name %>
                                </th>
                                <th>
                                    <%= user.email %>
                                </th>
                                <th>
                                    <%= user.permission %>
                                </th>
                                <th>
                                    <a href="/users/edit/<%= user.id %>" class="btn btn-warning">Editar</a>
                                    <form method="POST" action="/users/delete" style="display: inline;"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= user.id %>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>

                                </th>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
    </body>


    <%- include('../../partials/footer.ejs') %>

        <script>
            function confirmDelete(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deleter este usúario?");
                if (decision) {
                    form.submit();
                } else {
                    console.log("Ops, foi um erro!")
                }
            }
        </script>